<!DOCTYPE html>
<html>
<head>
    <title>Medicine Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>💊 Medicine Tracker</h1>

<div class="card">
    <h2>Add Medicine</h2>
    <form method="POST">
        <input type="text" name="name" placeholder="Medicine Name" required>
        <input type="number" name="stock" placeholder="Total Stock" required>
        <input type="time" name="reminder" required>

        <button type="submit" name="add_medicine">Add Medicine</button>
    </form>
</div>

<h2>Saved Medicines</h2>

{% if medicines %}
    {% for med in medicines %}
        <div class="medicine-card">

            <b>{{ med.name }}</b> — Stock: {{ med.stock }}

            {% if med.stock <= 3 %}
                <span class="low">⚠ Low Stock</span>
            {% endif %}

            <div class="reminder">
    ⏰ Reminder: {{ med.reminder }}

    {% if med.reminder <= now_time and med.last_taken != today %}
        <span class="due">Due Now</span>
    {% else %}
        <span class="done">✔ Taken Today</span>
    {% endif %}
</div>


            <form method="POST" class="actions">
                <button name="taken" value="{{ med.name }}">Taken</button>
                <button name="delete" value="{{ med.name }}" class="delete">❌</button>
            </form>

        </div>
    {% endfor %}
{% else %}
    <p>No medicines added yet.</p>
{% endif %}

</body>
</html>
